body{
    display: none;
}

@media screen and (max-width: 420px)  {
    body {
        display: contents;
    }

    .welcome-bg{
        background: #7B8FA1;
        height: 100%;
        width: 100%;
        position: fixed;
    }

    .welcome-logo{
        margin: 5em 0 0 5em;
    }

    .enter-button{
        position: fixed;
        bottom: 10em;
        left: 20%;
        right: 20%;
        padding: 1.5em 5em;
        background-color: #FAD6A5;
        border: none;
        border-radius: 20em;
    }

    .secondary-logo{
        margin: 1em 1em 1em 80%;

    }

    .song-button{
        background-color: #FAD6A5;
        border: none;
        border-radius: 20em;
        padding: .5em .2em;
        margin: .6em 0 0 1em;
        width: 100%;
        max-width: 15em;
        
    }

    .space{
        padding-top: 5em;
    }

    /* .list{
        background-color: #CFB997;
        padding-bottom: 5em;
    } */

    /* .bottom-position{
        position: fixed;
        bottom: 0px;
        padding: 3em ;
        border: solid;
        left: 0px;
        right: 0px;
        background-color: #FAD6A5;
        z-index: 2;
        filter: blur(10px);
    }  */

   
}