
@media screen and (max-width: 400px)  {
    .welcome-bg{
        background: #7B8FA1;
    }

    .welcome-logo{
        margin: 5em 0 0 5em;
    }

    .enter-button{
        margin: 80% 0 12em 30%;
        padding: 1em 3em;
        background-color: #FAD6A5;
        border: none;
        border-radius: 20em;
    }

   
}